#display {
        background-color: black;
        border-radius: 10px 10px 0px 0px;
        width: 320px;
        height: 80px;
}

#displayValue {
        text-align: right;
        padding-right: 10px;
        line-height: 80px;
        font-family: -apple-system, sans-serif;
        color: white;
        font-size: 48px;
}

#pad {
        display: flex;
        margin: 1px;
}

.operator {
        display: flex;
        flex-wrap: wrap;
        margin: 2px;
}

.operator > p {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E7E7E7;
        font-family: -apple-system, sans-serif;
        width: 78px;
        height: 80px;
        border: solid 1px #A9A9A9;
        font-size: 30px;
        text-align: center;
        margin: 0;
}

.number {
        display: flex;
        flex-wrap: wrap;
        width: 240px;
}

.number > p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: -apple-system, sans-serif;
        background-color: #FFFFFF;
        border: solid 1px #A9A9A9;
        width: 78px;
        height: 80px;
        font-size: 30px;
        margin: 0;

}

#zero {
        border-radius: 0px 0px 0px 10px;
}

#equal {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px black;
        border-radius: 0px 0px 10px 0px;
        background-color: #fa8664;
        font-family: -apple-systen, sans-serif;
        font-size: 30px;
        width: 78px;
        align-self: stretch;
}